name: Generate Neon Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: Magnusbekhoj
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-dark&color_snake=#00F5FF&color_dots=#0d1117,#0d1117,#00c3ff,#00f5ff,#7df9ff

      - name: Push to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          publish_branch: output
